
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{datas.title}}</title>
  <link rel="shortcut icon" href="../images/favicon.ico">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/booklist.css">
</head>
 
<body>
  <div class="container">
    {% include "../header.html" ignore missing %}
    <div class="content">
      <!-- 1. 渲染数据 {{}}  -->
      <h2>books{{datas.title}}</h2>
      <table>
        <thead>
          <tr>
            <th width="50">序号</th>
            <th>书名</th>
            <th>作者</th>
            <th>发版时间</th>
            <th>书籍状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for item in datas.list %}
          
          {% if item.book_del_status == 1 %}
          <tr>
          {% else %}
          <tr class="off">
          {% endif %}
            <td>{{ item.id }}</td>
            <td>{{ item.bookName }}</td>
            <td>{{ item.bookAuth }}</td>
            <td>{{ item.bookPublishDate }}</td>
            <td>{{ item.status }}</td>
            <td>
              <a href="javascript:;" class="on-operate" data-id="{{item.id}}">{{ item.operate }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  <script src="../js/jquery-1.11.1.min.js"></script>
  <script src="../js/booklist.js"></script>
</body>
</html>