
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ datas.title }}</title>
  <link rel="shortcut icon" href="../images/favicon.ico">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/booklist.css">
  <link rel="stylesheet" href="../css/xndatepicker.css">
</head>
 
<body>
  <div class="container">
    {% include "../header.html" ignore missing %}
    <div class="content">
      <div class="operate-btns">
        <button class="kkk btn primary">testtest</button>
        <button class="go btn primary">test测试</button>
        <button class="add-book btn primary" data-selector="add-book">添加书籍</button>
        <input type="text" name="testvalue" />
      </div>
      <table>
        <thead>
          <tr>
            <th width="70">序号</th>
            <th>书名</th>
            <th>作者</th>
            <th>发版时间</th>
            <th>书籍状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for item in datas.list %}
          
          {% if item.bookDelStatus == 0 %}
          <tr>
          {% else %}
          <tr class="off">
          {% endif %}
            <td>{{ item.id }}</td>
            <td data-name="name">{{ item.bookName }}</td>
            <td data-name="auth">{{ item.bookAuth }}</td>
            <td>{{ item.bookPublishDate }}</td>
            <td>{{ item.status }}</td>
            <td>
              <button class="edit btn small" data-selector="edit" data-id="{{ item.id }}">编辑</button>
              <button class="on-operate btn primary small" data-id="{{ item.id }}">{{ item.operate }}</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!--遮罩层-->
  <div class="bgPop"></div>
  <!--弹出框-->
  <div class="pop">
    <div class="pop-top">
      <h2 class="pop-title">编辑书籍</h2>
      <span class="pop-close">Ｘ</span>
    </div>
    <div class="pop-content">
      <div class="pop-content-left">
        <img src="" alt="" class="teathumb">
      </div>
      <div class="pop-content-right">
        <form class="edit-form" action="">
          <input type="hidden" name="id" class="idNo-hidden" value="" />
          <ul>
            <li><label>id</label><span class="idNo"></span></li>
            <li><label>书名</label><input type="text" data-selector="book-name" class="book-name" name="name" value="tttt" placeholder="书籍名" /></li>
            <li><label>作者</label><input type="text" data-selector="book-auth" class="book-auth" name="auth" value="" placeholder="作者" /></li>
            <li><label>发版时间</label><input type="text" data-selector="book-publish-date" class="book-publish-date dateinputer" id="date" name="bookDate" value="" placeholder="发版时间" /></li>
            <li><label>书籍状态</label><span class="book-status"></span></li>
          </ul>
        </form>
      </div>
    </div>
    <div class="pop-foot">
      <input type="button" value="我再想想" class="pop-cancel pop-close"/>
      <input type="button" value="确认修改" class="pop-ok" data-selector="pop-ok"/>
    </div>
  </div>
  <script src="../js/jquery-1.11.1.min.js"></script>
  <script src="../js/moment.js"></script>
  <script src="../js/xndatepicker.js"></script>
  <script src="../js/booklist.js"></script>
</body>
</html>