<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>404</title>

<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet'>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/404.css">

</head>
<body>
<!-- Start preloader -->
	<div class="preloader">
		<div class="loader fa-spin"></div>
	</div>
<!-- End preloader -->
<!-- Start main section -->
<section class="error-contents">
	<div class="container">
		<div class="row relative animated" data-animation="contentAnim" data-animation-delay="2000">
			<div class="col-md-12">
				<div class="error-title">404!</div>
				<div class="error-text">您访问的页面不存在</div>
				<div class="image-divider"></div>
				<a href="/" class="home-button">返回首页</a>
			</div>
			<!-- End Column -->
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</section>
<!-- End main section -->

<!-- Start background section -->
<section class="error-background">
	<img class="cloud-small cloud animated" src="../images/404/cloud-1.png" data-animation="fromLeft25" data-animation-delay="3000" data-xrange="20" data-yrange="20" alt="">

	<img class="cloud-big cloud animated" src="../images/404/cloud-1.png" data-animation="fromLeft8" data-animation-delay="3500" data-xrange="30" data-yrange="30" alt="">

	<img class="cloud-rain cloud animated" src="../images/404/cloud-2.png" data-animation="fromRight8" data-animation-delay="4000" data-xrange="40" data-yrange="40" alt="">
	
	<img class="rock animated" src="../images/404/rock.png" data-animation="fromRight0" data-animation-delay="600" alt="">

	<img class="sea-island animated" src="../images/404/sea-island.png" data-animation="fromLeft0" data-animation-delay="600"  alt="">

	<img class="shark animated" src="../images/404/shark.png" data-animation="fromLeft70" data-animation-delay="3200" alt="">
</section>
<!-- End background section -->

<!-- Js files -->
<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/plax.js"></script>
<script src="../js/classie.js"></script>
<script src="../js/custom.js"></script>
</body>
</html>